<ion-header>
  <ion-toolbar>
    <ion-title>accolades_register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="signup-logo">
        <img src="assets/img/accolades.png" alt="Accolades Logo">
      </div>

    <ion-card>
        <ion-list lines="inset" inset="true">
          <ion-item>
            <ion-label position="stacked" color="primary">Name</ion-label>
            <ion-input  name="name" type="text" [(ngModel)]="myData.name"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="stacked" color="primary">Company</ion-label>
              <ion-input  name="company" type="text" [(ngModel)]="myData.company"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="stacked" color="primary">Title</ion-label>
              <ion-input  name="title" type="text" [(ngModel)]="myData.title"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="stacked" color="primary">Address</ion-label>
              <ion-input  name="address" type="text" [(ngModel)]="myData.address"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="stacked" color="primary">Email</ion-label>
              <ion-input  name="email" type="text" [(ngModel)]="myData.email"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="stacked" color="primary">Phone #</ion-label>
              <ion-input  name="phone" type="text" [(ngModel)]="myData.phone"></ion-input>
          </ion-item>

           <ion-item>
                <ion-label position="stacked" color="primary">Alternate Contact</ion-label>
                <ion-input  name="alternate contact" type="text" [(ngModel)]="myData.alternate contact"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">Alternate Email</ion-label>
                <ion-input  name="alternate email" type="text" [(ngModel)]="myData.alternate email"></ion-input>
            </ion-item>

             <ion-item>
                <ion-label position="stacked" color="primary">Alternate Phone</ion-label>
                <ion-input  name="alternate phone" type="text" [(ngModel)]="myData.alternate phone"></ion-input>
            </ion-item>

             <ion-item>
                <ion-label position="stacked" color="primary">Head of HR(Name & Title)</ion-label>
                <ion-input  name="head of hr name and title " type="text" [(ngModel)]="myData.head of hr name and title"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="stacked" color="primary">Head of HR(Email & Phone)</ion-label>
                 <ion-input  name="head of hr email and phone" type="text" [(ngModel)]="myData.head of hr email and phone"></ion-input>
              </ion-item>

                <ion-item>
                    <ion-label position="stacked" color="primary">Company Employees</ion-label>
                    <ion-input  name="company employees" type="text" [(ngModel)]="myData.company employees"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked" color="primary">HR Dept Employees</ion-label>
                    <ion-input  name="hr dept employees" type="text" [(ngModel)]="myData.hr dept employees"></ion-input>
                </ion-item>  

                <ion-item>
                    <ion-label position="stacked" color="primary">Company Industry</ion-label>
                    <ion-input  name="company industry" type="text" [(ngModel)]="myData.company industry"></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-label position="stacked" color="primary">Type of Entity</ion-label>
                      <ion-input  name="type of entity" type="text" [(ngModel)]="myData.type of entity"></ion-input>
                    </ion-item>

                  <ion-item>
                        <ion-label position="stacked" color="primary">Nature of ownership</ion-label>
                        <ion-input  name="nature of ownership" type="text" [(ngModel)]="myData.nature of ownership"></ion-input>
                  </ion-item>

                    <ion-item>
                        <ion-label position="stacked" color="primary">Date of Incorporation</ion-label>
                        <ion-input  name="date of incorporation" type="text" [(ngModel)]="myData.date of incorporation"></ion-input>
                     </ion-item>


         </ion-list>
     </ion-card>
</ion-content>
