.about-header {
  // background-color: #222;
  // padding: 16px;
  // width: 100%;
  height: 45%;
  text-align: center;
}

.about-header img {
  max-height: 100%;
}

.about-info p {
  color: var(--ion-color-dark);
  text-align: left;
  
}

.about-info {
  color: #fae3b7;

}

.about-info ion-icon {
  margin-inline-end: 32px;
}

.ios .about-info {
  text-align: center;
}

.ion-content {
  background-color: #fae3b7;

}

.card {
  background-color: #000; // black
  box-shadow: none;
}
